.body{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
   ul{list-style-type: none;}
   a{text-decoration: none;}


/*======Header=========*/
.header {
}
.header-navigation {
}
.header-logo {
    color:#4d5ae5;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo span {color:#2e2f42;}
.header-list {color:#2E2F42;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.header-list-item hover{ color: #404bbf;
}
header-list-item focus{color: #404bbf;}
.header-address {font-style: normal
}
.header-address-list{color:#434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;}
    .header-address-list-item{color:#434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;}
        /*=========================================================*/
        .button {background-color: #2E2F42;
            color: #FFF
        }
        .main-title{;
            text-align: center;
            font-size: 56px;
            font-style: normal;
            line-height: 1.07; /* 107.143% */
            letter-spacing: 0.02em;}
        .main-button {background-color: #4D5AE5;
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.04em;
        }
        .main-button hover{ background-color: #404BBF}
        .main-button :focus{background-color: #404BBF}
        /*=========Advantages===================*/
        .advantages-title{color: #2E2F42;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;}
        .advantages {
        }
        .advantages-list {
        }
        .advantages-list-item {
        }
        .advantages-list-item-text {color: #434455;
            font-size: 16px;
            font-style: normal;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;
        } 
/*================Team=========================*/
.team {background: #F4F4FD;
}
.team-title{color: #2E2F42;
    text-transform: capitalize
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;}
.team-list {
}
.team-list-item {background-color: #FFFFFF
}
.team-list-item-text {color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
/*====================Portfolio==============*/
.portfolio {background: #FFF;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-link {
}
.portfolio-list-item-text {color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
/*=============Footer================*/
.footer {background: #2E2F42;
    color: #F4F4FD;
}
.footer-text-logo {font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;}
    .footer-text-logo span{color:#4D5AE5}
.footer-text {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}